.profile_avatar{
    margin-top: 20%;
}

.profile_label{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 8%;
}

ion-label{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}