<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines = 'none'>
    <ion-item>
      <ion-avatar><img class = 'profile_avatar' src='../assets/img/perfil9.jpeg'></ion-avatar>
      <ion-label class = 'profile_label'>Fernando</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Birth Date: 10/07/2001</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email: fcallerafilho@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Username: fcallerafilho</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
