<!DOCTYPE html>

<ion-content>
  <ion-slides pager class = "general-slides">

    <ion-slide>
      <div>
        <img src = "assets/img/car2.png" class = "slider1-img">
        <h2 class = "slider1-text">CarCare App</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src = "assets/img/engine.png" class = "slider2-img">
        <h2 class = "slider2-text">Seja bem vindo ao CarCare</h2>
        <p>Ajudamos você a manter seu carro em dia e evitar problemas.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <h2>Let's get started</h2>
        <ion-button shape = "round" expand = "block" class = "button-layout" (click) = 'goToTabsPage()'>
          Begin
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
