.general-slides{
    background-color: black;
    color: white;
    min-height: 100%;
    height: 93vh;
    font-family: "DM Sans", sans-serif;
}

.slider1-img{
    width: 190px;
    margin-bottom: -50px;
}

.slider2-img{
    width: 130px;
}

.slider1-text{
    font-size: 35px;
    font-weight: 2000;
}

.slider2-text{
    font-size: 20px;
}

.button-layout{
    font-family: "DM Sans", sans-serif;
}