.configure_header{
    font-size: 200%;
    margin-top: 5%;
}

.checks{
    width: 60%;
    height: 60%;
    margin-top: 15%;
    margin-left: 15%;
}

.warnings{
    width: 90%;
    height: 90%;
    margin-right: 4%;
    margin-top: 6%;
}

.text{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}
