.overview_header{
    font-size: 200%;
    margin-top: 5%;
}

.profilepic_avatar{
    margin-top: 4%;
    margin-left: 1%;
}

.car_avatar{
    margin-top: 2%;
    max-width: 100%;
}

.switch_car_chip{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.ion_label{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-top: 6%;
    margin-left: 3%;
}

.ion_label_warnings{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 3%;
}

.switch_car_chip{
    font-family: 'DM Sans', sans-serif;
}
